body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #6F5643;
    font-weight: bolder;
}
.vinyl {
    display: flex;
    margin: auto;
}
.login-container {
    width: 300px;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #ECE6C2;
}

.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #CC6B49; /* Set the text color for the heading */
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-form label {
    margin-bottom: 10px;
    color: #CC6B49; /* Set the text color for the labels */
}

.login-form input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-form button {
    padding: 10px 20px;
    background-color: #CC6B49;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #A74328;
}
