<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manager View</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<!-- fontawesome 5 -->
<link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/js/all.min.js"></script>

<body class="" style="background-color: #6F5643">
    <a class="btn btn-primary p-2 mb-3" href="{{ url_for('admin_dash') }}" style="background-color: #CC6B49;" role="button">Go to Dashboard</a>

    <div class="d-flex justify-content-center align-items-center ">
        <form action="/admin-cust/filter" method="get" id="filter-form"></form>
        <div class="mb-8 mt-1 text-center">
            <input type="text" id="myInput" name="filter-by-id" class="form-control" placeholder="Customer ID" style="display: inline-block; width: auto;" form="filter-form">
            <button class="btn btn-secondary" type="submit" form="filter-form">Search</button>
        </div>
    </div>
    <div class="container rounded flex-column p-3 h-100" style="background-color: #ECE6C2">
        <h2>Customers</h2>

        <form action="/admin-cust/update" method="post" id="upd-form"></form>
        <form action="/admin-cust/delete" method="post" id="del-form"></form>
        <form action="/admin-cust/add-cust" method="post" id="add-cust-form"></form>
        <table id="myTable" class="table table-striped">
            <thead>
                <tr id="row-header text-center align-middle">
                    <th style="text-align: center;">F. Name</th>
                    <th style="text-align: center;">L. Name</th>
                    <th style="text-align: center;">Phone</th>
                    <th style="text-align: center;">Delete</th>
                    <th style="text-align: center;">Update</th>
                </tr>
            </thead>
            {% for item in data %}
            <tr class="text-center align-middle">
                <td>{{ item[1] }}</td>
                <td>{{ item[2] }}</td>
                <td>{{ item[3] }}</td>
                <td><button type="submit" class="btn btn-default btn-md" name="del" form="del-form" value="{{item[0]}}"><i
                            class="far fa-trash-alt" style="color: red;"></i></button></td>
                <td><button type="submit" class="btn btn-default btn-md" name="upd-cust" form="upd-form" value="{{item[0]}}"><i
                            class="fas fa-tools" style="color: #1e3050;"></i></button></td>
            </tr>
            {% endfor %}
            <tr>
                <td><input type="text" name="fname" placeholder="F. Name" form="add-cust-form"></td>
                <td><input type="text" name="lname" placeholder="L. Name" form="add-cust-form"></td>
                <td><input type="text" name="phone" placeholder="Phone" form="add-cust-form"></td>
                <td colspan="2">
                    <button type="submit" class="btn btn-secondary" form="add-cust-form">Add</button>
                </td>
            </tr>
        
            <!-- Populate table rows dynamically with JavaScript -->
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="alert alert-danger mt-3" role="alert">
            {% for message in messages %}
            {{message}}
            {% endfor %}
            </div>
            {% endif %}
            {% endwith %}
        </table>

    </div>

    <!-- Bootstrap Javascripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>